table{
    border-spacing: 0;
    border-collapse: collapse;
}

td, 
th,
caption{
    border: 1px solid #000;
}
caption{
    border-bottom: 0px;
}
.weekend-header{
    color: red;
}

.weekend-day{
    color: red;
}