html {
    font-family: sans-serif;
}

body * {
    box-sizing: border-box;
}

.container {
    max-width: 1320px;
    padding: 0 15px;
    margin: 0 auto;
}

.icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: black;
    margin-top: 15px;
    margin-bottom: 15px;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline;
    display: flex;
}

a {
    color: black;
}

.link{
    margin-left: 15px;
    margin-top: 15px;
}

.numder {
    text-decoration: none;
}

.header-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #c0bfbf;
    text-align: center;
}